// ----- Primary color -----
$vermell: rgb(249, 65, 37);
$blanc: rgb(249, 249, 249);

// ------ Other colors -----
$ross: rgb(255, 164, 205);
$granate: rgb(38, 7, 25);
$gris-clar: rgb(207, 201, 204);
$gris-granate: hsl(300, 8%, 43%);
$white: rgb(255, 255, 255);
$light: rgb(229, 229, 229);
$smokewhite: rgb(245, 245, 245);